/* 1주차 세미나, before, after, hover */
/* .beforeAndAfter::after {
  content: "🧡";
}

.beforeAndAfter::before {
  content: "💙";
}

.beforeAndAfter:hover {
  background-color: red;
}

.beforeAndAfter:active {
  background-color: blue;
} */

/* 선택자 우선순위 */
/* div {
  color: yellow;
}

.beforeAndAfter {
  color: green !important;
  color: orange;
}

#idIsSuperior {
  color: skyblue;
} */

/* position, z-index, overflow, transform, transition */
.item {
  width: 100px;
  height: 100px;
  background-color: red;
  margin-bottom: 10px;
  margin-right: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}
