body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  align-items: center;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  background-color: white;
  margin: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 5px #000000;
}

#home__middle-line {
  color: white;
  background-color: darkgray;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  line-height: 40px;
}

.date-input__container {
  display: flex;
  flex-direction: column;
}

.date-input {
  width: 16px;
  border: 0;
  outline: 0;
  text-align: right;
}

.date-input__year {
  width: 32px;
}
