body {
  margin: 0;
}

h1 {
  margin: 0;
}

.header {
  height: 50px;
  color: white;
  background-color: thistle;
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.header > h1 {
  font-size: 32px;
  height: 50px;
  line-height: 50px;
  /* transform: translateY(8px); */
}

.options {
  text-align: center;
  margin: 10px 0;
}

.options > button {
  background-color: orange;
  color: white;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin-right: 8px;
}

.options > .options__both {
  margin-right: 0;
}

.options__both {
  margin-right: 0 !important;
}
