/* :root[color-theme="light"] {
  --background: #fff;
  --boxColor: #000;
}

:root[color-theme="dark"] {
  --background: #000;
  --boxColor: #fff;
} */

* {
  box-sizing: border-box;
}

body {
  margin: 0 16px;
  background: rgb(248, 249, 250);
  width: 100%;
}

button {
  border: 0;
  background: rgb(248, 249, 250);
  color: rgb(52, 58, 64);
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  max-width: 1728px;
  margin: auto;
  margin-bottom: 24px;
}

.header__logo {
  font-size: 28px;
  font-weight: normal;
  height: 64px;
  line-height: 64px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__mode-text {
  margin-right: 8px;
}

.header__search {
  background-image: url(assets/icons/searchIC.svg);
  width: 18px;
  height: 18px;
  margin-right: 30px;
}

.header__write {
  width: 97px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 16px;
  border: 1px solid rgb(52, 58, 64);
  background-color: white;
  margin-right: 20px;
  transition: background-color 300ms ease;
  cursor: pointer;
}

.header__write:hover {
  background-color: rgb(52, 58, 64);
  color: white;
}

.header__profile {
  display: flex;
  align-items: center;
}

.header__profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header__arrow-dropdown {
  background-image: url(assets/icons/arrow_drop_down.svg);
  width: 24px;
  height: 24px;
  margin-left: 4px;
  display: inline-block;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1728px;
  margin: auto;
}

.nav__left {
  display: flex;
}

.nav__trending,
.nav__recent {
  width: 112px;
  height: 48px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(134, 142, 150);
  cursor: pointer;
}

.nav__trending-icon,
.nav__recent-icon {
  background-image: url(assets/icons/trending_up.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 8px;
}

.nav__left > .active {
  font-weight: bold;
  color: rgb(52, 58, 64);
  border-bottom: 2px solid black;
}

.nav__recent-icon {
  background-image: url(assets/icons/clockIC.svg);
}

.nav__period {
  /* display: inline-block; */
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0 8px;
  cursor: pointer;
  width: 96px;
  display: flex;
  justify-content: space-between;
}

.nav__dropdown {
  position: absolute;
  top: 100%;
  right: 0px;
  background-color: white;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px 0px;
  margin-top: 8px;
  z-index: 2;
  font-size: 14px;
  visibility: hidden;
}

.nav__dropdown.visible {
  visibility: visible;
}

.nav__dropdown > div {
  border-top: 1px solid rgb(241, 243, 245);
  width: 192px;
  height: 42px;
  padding: 12px 16px;
}

.nav__dropdown > div.active {
  color: rgb(18, 184, 134);
}

.nav__more-btn {
  background-image: url(assets/icons/moreIC.svg);
  width: 24px;
  height: 24px;
}

.cards {
  /* display: grid; */
  /* grid-template-columns: repeat(); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 16px;
  max-width: calc(1728px + 2rem);
  margin: auto;
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  width: 320px;
  /* width: 50%; */
  background-color: white;
  margin: 16px;
  transition: box-shadow 0.25s ease-in, transform 0.25s ease-in;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.card__modal-bg {
  /* 모달 스타일링 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.card__modal {
  transition: none;
}

.card__modal:hover {
  /* 애내메이션 없애기 */
  transform: none !important;
  box-shadow: none !important;
}

.card__modal-close-btn {
  position: absolute;
  bottom: 0px;
  right: 50%;
  transform: translate(50%, 150%);
  /* 중앙 위치 */
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: rgb(0 0 0 / 8%) 0px 12px 20px 0px;
}

.card__img-wrapper {
  position: relative;
  width: 100%;
}

.card__img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px 4px 0 0;
  /* height: 167px; */
}

.card__middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 165px;
  padding: 16px;
  border-bottom: 1px solid rgb(248, 249, 250);
}

.card__title {
  font-size: 16px;
  margin: 0;
  margin-bottom: 4px;
}

.card__subtitle {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
}

.card__date {
  color: rgb(134, 142, 150);
  font-size: 12px;
}

.card__bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
}

.card__profile {
  display: flex;
  align-items: center;
}

.card__profile-name {
  font-weight: bold;
}

.card__profile-name > span {
  color: rgb(134, 142, 150);
}

.card__profile-img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
}

.card__like {
  display: flex;
  align-items: center;
}

.card__like-img {
  background-image: url(assets/icons/likeIC.svg);
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.card__like-count {
  transform: translateY(1px);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 16px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: rgb(18, 184, 134);
  /* background-color: black; */
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(18, 184, 134);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

@media (max-width: 1919px) {
  .header,
  .nav {
    max-width: 1376px;
  }
  .cards {
    max-width: calc(1376px + 2rem);
  }
}

@media (max-width: 1440px) {
  .header,
  .nav {
    max-width: 1024px;
  }
  .cards {
    max-width: calc(1024px + 2rem);
  }
}

@media (max-width: 1056px) {
  .card {
    width: calc(50% - 2rem);
  }
}

@media (max-width: 767px) {
  .card {
    width: 100%;
  }
}
